body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(147, 220, 220);
    margin: 0;
}

.container {
    background: darkcyan;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: aquamarine;
}

label, input, button {
    margin-top: 10px;
}
label{
    color: aliceblue;
}

input, button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #45a049;
}
